ProvaSiteware/ProvaSiteware.Domain/obj/Debug/DesignTimeResolveAssemblyReferencesInput.cache
ProvaSiteware/ProvaSiteware.Domain/obj/Debug/ProvaSiteware.Domain.csproj.FileListAbsolute.txt
ProvaSiteware/ProvaSiteware.Domain/obj/Debug/ProvaSiteware.Domain.csprojResolveAssemblyReference.cache
ProvaSiteware/ProvaSiteware.Domain/obj/Debug/ProvaSiteware.Domain.dll
ProvaSiteware/ProvaSiteware.Domain/obj/Debug/ProvaSiteware.Domain.pdb
ProvaSiteware/ProvaSiteware.Domain/obj/Debug/TemporaryGeneratedFile_036C0B5B-1481-4323-8D20-8F5ADCB23D92.cs
ProvaSiteware/ProvaSiteware.Domain/obj/Debug/TemporaryGeneratedFile_5937a670-0e60-4077-877b-f7221da3dda1.cs
ProvaSiteware/ProvaSiteware.Domain/obj/Debug/TemporaryGeneratedFile_E7A71F73-0F8D-4B9B-B56E-8E70B10BC5D3.cs
ProvaSiteware/ProvaSiteware.Domain/bin/Debug/ProvaSiteware.Domain.dll
ProvaSiteware/ProvaSiteware.Domain/bin/Debug/ProvaSiteware.Domain.pdb
ProvaSiteware/ProvaSiteware.v11.suo
ProvaSiteware/packages/EntityFramework.5.0.0/Content/App.config.transform
ProvaSiteware/packages/EntityFramework.5.0.0/Content/Web.config.transform
ProvaSiteware/packages/EntityFramework.5.0.0/EntityFramework.5.0.0.nupkg
ProvaSiteware/packages/EntityFramework.5.0.0/lib/net40/EntityFramework.dll
ProvaSiteware/packages/EntityFramework.5.0.0/lib/net40/EntityFramework.xml
ProvaSiteware/packages/EntityFramework.5.0.0/lib/net45/EntityFramework.dll
ProvaSiteware/packages/EntityFramework.5.0.0/lib/net45/EntityFramework.xml
ProvaSiteware/packages/EntityFramework.5.0.0/tools/about_EntityFramework.help.txt
ProvaSiteware/packages/EntityFramework.5.0.0/tools/EntityFramework.PowerShell.dll
ProvaSiteware/packages/EntityFramework.5.0.0/tools/EntityFramework.PowerShell.Utility.dll
ProvaSiteware/packages/EntityFramework.5.0.0/tools/EntityFramework.PS3.psd1
ProvaSiteware/packages/EntityFramework.5.0.0/tools/EntityFramework.psd1
ProvaSiteware/packages/EntityFramework.5.0.0/tools/EntityFramework.psm1
ProvaSiteware/packages/EntityFramework.5.0.0/tools/init.ps1
ProvaSiteware/packages/EntityFramework.5.0.0/tools/install.ps1
ProvaSiteware/packages/EntityFramework.5.0.0/tools/migrate.exe
ProvaSiteware/packages/EntityFramework.5.0.0/tools/Redirect.config
ProvaSiteware/packages/EntityFramework.5.0.0/tools/Redirect.VS11.config
ProvaSiteware/packages/EntityFramework.6.1.3/content/App.config.transform
ProvaSiteware/packages/EntityFramework.6.1.3/content/Web.config.transform
ProvaSiteware/packages/EntityFramework.6.1.3/EntityFramework.6.1.3.nupkg
ProvaSiteware/packages/EntityFramework.6.1.3/lib/net40/EntityFramework.dll
ProvaSiteware/packages/EntityFramework.6.1.3/lib/net40/EntityFramework.SqlServer.dll
ProvaSiteware/packages/EntityFramework.6.1.3/lib/net40/EntityFramework.SqlServer.xml
ProvaSiteware/packages/EntityFramework.6.1.3/lib/net40/EntityFramework.xml
ProvaSiteware/packages/EntityFramework.6.1.3/lib/net45/EntityFramework.dll
ProvaSiteware/packages/EntityFramework.6.1.3/lib/net45/EntityFramework.SqlServer.dll
ProvaSiteware/packages/EntityFramework.6.1.3/lib/net45/EntityFramework.SqlServer.xml
ProvaSiteware/packages/EntityFramework.6.1.3/lib/net45/EntityFramework.xml
ProvaSiteware/packages/EntityFramework.6.1.3/tools/about_EntityFramework.help.txt
ProvaSiteware/packages/EntityFramework.6.1.3/tools/EntityFramework.PowerShell.dll
ProvaSiteware/packages/EntityFramework.6.1.3/tools/EntityFramework.PowerShell.Utility.dll
ProvaSiteware/packages/EntityFramework.6.1.3/tools/EntityFramework.psd1
ProvaSiteware/packages/EntityFramework.6.1.3/tools/EntityFramework.psm1
ProvaSiteware/packages/EntityFramework.6.1.3/tools/init.ps1
ProvaSiteware/packages/EntityFramework.6.1.3/tools/install.ps1
ProvaSiteware/packages/EntityFramework.6.1.3/tools/migrate.exe
ProvaSiteware/packages/jQuery.1.7.1.1/Content/Scripts/jquery-1.7.1.js
ProvaSiteware/packages/jQuery.1.7.1.1/Content/Scripts/jquery-1.7.1.min.js
ProvaSiteware/packages/jQuery.1.7.1.1/Content/Scripts/jquery-1.7.1-vsdoc.js
ProvaSiteware/packages/jQuery.1.7.1.1/jQuery.1.7.1.1.nupkg
ProvaSiteware/packages/jQuery.1.7.1.1/Tools/common.ps1
ProvaSiteware/packages/jQuery.1.7.1.1/Tools/install.ps1
ProvaSiteware/packages/jQuery.1.7.1.1/Tools/jquery-1.7.1.intellisense.js
ProvaSiteware/packages/jQuery.1.7.1.1/Tools/uninstall.ps1
ProvaSiteware/packages/jQuery.UI.Combined.1.8.20.1/Content/Content/themes/base/images/ui-bg_flat_0_aaaaaa_40x100.png
ProvaSiteware/packages/jQuery.UI.Combined.1.8.20.1/Content/Content/themes/base/images/ui-bg_flat_75_ffffff_40x100.png
ProvaSiteware/packages/jQuery.UI.Combined.1.8.20.1/Content/Content/themes/base/images/ui-bg_glass_55_fbf9ee_1x400.png
ProvaSiteware/packages/jQuery.UI.Combined.1.8.20.1/Content/Content/themes/base/images/ui-bg_glass_65_ffffff_1x400.png
ProvaSiteware/packages/jQuery.UI.Combined.1.8.20.1/Content/Content/themes/base/images/ui-bg_glass_75_dadada_1x400.png
ProvaSiteware/packages/jQuery.UI.Combined.1.8.20.1/Content/Content/themes/base/images/ui-bg_glass_75_e6e6e6_1x400.png
ProvaSiteware/packages/jQuery.UI.Combined.1.8.20.1/Content/Content/themes/base/images/ui-bg_glass_95_fef1ec_1x400.png
ProvaSiteware/packages/jQuery.UI.Combined.1.8.20.1/Content/Content/themes/base/images/ui-bg_highlight-soft_75_cccccc_1x100.png
ProvaSiteware/packages/jQuery.UI.Combined.1.8.20.1/Content/Content/themes/base/images/ui-icons_222222_256x240.png
ProvaSiteware/packages/jQuery.UI.Combined.1.8.20.1/Content/Content/themes/base/images/ui-icons_2e83ff_256x240.png
ProvaSiteware/packages/jQuery.UI.Combined.1.8.20.1/Content/Content/themes/base/images/ui-icons_454545_256x240.png
ProvaSiteware/packages/jQuery.UI.Combined.1.8.20.1/Content/Content/themes/base/images/ui-icons_888888_256x240.png
ProvaSiteware/packages/jQuery.UI.Combined.1.8.20.1/Content/Content/themes/base/images/ui-icons_cd0a0a_256x240.png
ProvaSiteware/packages/jQuery.UI.Combined.1.8.20.1/Content/Content/themes/base/jquery.ui.accordion.css
ProvaSiteware/packages/jQuery.UI.Combined.1.8.20.1/Content/Content/themes/base/jquery.ui.all.css
ProvaSiteware/packages/jQuery.UI.Combined.1.8.20.1/Content/Content/themes/base/jquery.ui.autocomplete.css
ProvaSiteware/packages/jQuery.UI.Combined.1.8.20.1/Content/Content/themes/base/jquery.ui.base.css
ProvaSiteware/packages/jQuery.UI.Combined.1.8.20.1/Content/Content/themes/base/jquery.ui.button.css
ProvaSiteware/packages/jQuery.UI.Combined.1.8.20.1/Content/Content/themes/base/jquery.ui.core.css
ProvaSiteware/packages/jQuery.UI.Combined.1.8.20.1/Content/Content/themes/base/jquery.ui.datepicker.css
ProvaSiteware/packages/jQuery.UI.Combined.1.8.20.1/Content/Content/themes/base/jquery.ui.dialog.css
ProvaSiteware/packages/jQuery.UI.Combined.1.8.20.1/Content/Content/themes/base/jquery.ui.progressbar.css
ProvaSiteware/packages/jQuery.UI.Combined.1.8.20.1/Content/Content/themes/base/jquery.ui.resizable.css
ProvaSiteware/packages/jQuery.UI.Combined.1.8.20.1/Content/Content/themes/base/jquery.ui.selectable.css
ProvaSiteware/packages/jQuery.UI.Combined.1.8.20.1/Content/Content/themes/base/jquery.ui.slider.css
ProvaSiteware/packages/jQuery.UI.Combined.1.8.20.1/Content/Content/themes/base/jquery.ui.tabs.css
ProvaSiteware/packages/jQuery.UI.Combined.1.8.20.1/Content/Content/themes/base/jquery.ui.theme.css
ProvaSiteware/packages/jQuery.UI.Combined.1.8.20.1/Content/Content/themes/base/jquery-ui.css
ProvaSiteware/packages/jQuery.UI.Combined.1.8.20.1/Content/Content/themes/base/minified/images/ui-bg_flat_0_aaaaaa_40x100.png
ProvaSiteware/packages/jQuery.UI.Combined.1.8.20.1/Content/Content/themes/base/minified/images/ui-bg_flat_75_ffffff_40x100.png
ProvaSiteware/packages/jQuery.UI.Combined.1.8.20.1/Content/Content/themes/base/minified/images/ui-bg_glass_55_fbf9ee_1x400.png
ProvaSiteware/packages/jQuery.UI.Combined.1.8.20.1/Content/Content/themes/base/minified/images/ui-bg_glass_65_ffffff_1x400.png
ProvaSiteware/packages/jQuery.UI.Combined.1.8.20.1/Content/Content/themes/base/minified/images/ui-bg_glass_75_dadada_1x400.png
ProvaSiteware/packages/jQuery.UI.Combined.1.8.20.1/Content/Content/themes/base/minified/images/ui-bg_glass_75_e6e6e6_1x400.png
ProvaSiteware/packages/jQuery.UI.Combined.1.8.20.1/Content/Content/themes/base/minified/images/ui-bg_glass_95_fef1ec_1x400.png
ProvaSiteware/packages/jQuery.UI.Combined.1.8.20.1/Content/Content/themes/base/minified/images/ui-bg_highlight-soft_75_cccccc_1x100.png
ProvaSiteware/packages/jQuery.UI.Combined.1.8.20.1/Content/Content/themes/base/minified/images/ui-icons_222222_256x240.png
ProvaSiteware/packages/jQuery.UI.Combined.1.8.20.1/Content/Content/themes/base/minified/images/ui-icons_2e83ff_256x240.png
ProvaSiteware/packages/jQuery.UI.Combined.1.8.20.1/Content/Content/themes/base/minified/images/ui-icons_454545_256x240.png
ProvaSiteware/packages/jQuery.UI.Combined.1.8.20.1/Content/Content/themes/base/minified/images/ui-icons_888888_256x240.png
ProvaSiteware/packages/jQuery.UI.Combined.1.8.20.1/Content/Content/themes/base/minified/images/ui-icons_cd0a0a_256x240.png
ProvaSiteware/packages/jQuery.UI.Combined.1.8.20.1/Content/Content/themes/base/minified/jquery.ui.accordion.min.css
ProvaSiteware/packages/jQuery.UI.Combined.1.8.20.1/Content/Content/themes/base/minified/jquery.ui.autocomplete.min.css
ProvaSiteware/packages/jQuery.UI.Combined.1.8.20.1/Content/Content/themes/base/minified/jquery.ui.button.min.css
ProvaSiteware/packages/jQuery.UI.Combined.1.8.20.1/Content/Content/themes/base/minified/jquery.ui.core.min.css
ProvaSiteware/packages/jQuery.UI.Combined.1.8.20.1/Content/Content/themes/base/minified/jquery.ui.datepicker.min.css
ProvaSiteware/packages/jQuery.UI.Combined.1.8.20.1/Content/Content/themes/base/minified/jquery.ui.dialog.min.css
ProvaSiteware/packages/jQuery.UI.Combined.1.8.20.1/Content/Content/themes/base/minified/jquery.ui.progressbar.min.css
ProvaSiteware/packages/jQuery.UI.Combined.1.8.20.1/Content/Content/themes/base/minified/jquery.ui.resizable.min.css
ProvaSiteware/packages/jQuery.UI.Combined.1.8.20.1/Content/Content/themes/base/minified/jquery.ui.selectable.min.css
ProvaSiteware/packages/jQuery.UI.Combined.1.8.20.1/Content/Content/themes/base/minified/jquery.ui.slider.min.css
ProvaSiteware/packages/jQuery.UI.Combined.1.8.20.1/Content/Content/themes/base/minified/jquery.ui.tabs.min.css
ProvaSiteware/packages/jQuery.UI.Combined.1.8.20.1/Content/Content/themes/base/minified/jquery.ui.theme.min.css
ProvaSiteware/packages/jQuery.UI.Combined.1.8.20.1/Content/Content/themes/base/minified/jquery-ui.min.css
ProvaSiteware/packages/jQuery.UI.Combined.1.8.20.1/Content/Scripts/jquery-ui-1.8.20.js
ProvaSiteware/packages/jQuery.UI.Combined.1.8.20.1/Content/Scripts/jquery-ui-1.8.20.min.js
ProvaSiteware/packages/jQuery.UI.Combined.1.8.20.1/jQuery.UI.Combined.1.8.20.1.nupkg
ProvaSiteware/packages/jQuery.Validation.1.9.0.1/Content/Scripts/jquery.validate.js
ProvaSiteware/packages/jQuery.Validation.1.9.0.1/Content/Scripts/jquery.validate.min.js
ProvaSiteware/packages/jQuery.Validation.1.9.0.1/Content/Scripts/jquery.validate-vsdoc.js
ProvaSiteware/packages/jQuery.Validation.1.9.0.1/jQuery.Validation.1.9.0.1.nupkg
ProvaSiteware/packages/knockoutjs.2.1.0/Content/Scripts/knockout-2.1.0.debug.js
ProvaSiteware/packages/knockoutjs.2.1.0/Content/Scripts/knockout-2.1.0.js
ProvaSiteware/packages/knockoutjs.2.1.0/knockoutjs.2.1.0.nupkg
ProvaSiteware/packages/Microsoft.AspNet.Mvc.4.0.20710.0/lib/net40/System.Web.Mvc.dll
ProvaSiteware/packages/Microsoft.AspNet.Mvc.4.0.20710.0/lib/net40/System.Web.Mvc.xml
ProvaSiteware/packages/Microsoft.AspNet.Mvc.4.0.20710.0/Microsoft.AspNet.Mvc.4.0.20710.0.nupkg
ProvaSiteware/packages/Microsoft.AspNet.Providers.Core.1.1/lib/net40/System.Web.Providers.dll
ProvaSiteware/packages/Microsoft.AspNet.Providers.Core.1.1/Microsoft.AspNet.Providers.Core.1.1.nupkg
ProvaSiteware/packages/Microsoft.AspNet.Providers.Core.1.1/readme.html
ProvaSiteware/packages/Microsoft.AspNet.Providers.LocalDB.1.1/content/web.config.transform
ProvaSiteware/packages/Microsoft.AspNet.Providers.LocalDB.1.1/Microsoft.AspNet.Providers.LocalDB.1.1.nupkg
ProvaSiteware/packages/Microsoft.AspNet.Providers.LocalDB.1.1/tools/Install.ps1
ProvaSiteware/packages/Microsoft.AspNet.Razor.2.0.20710.0/lib/net40/System.Web.Razor.dll
ProvaSiteware/packages/Microsoft.AspNet.Razor.2.0.20710.0/lib/net40/System.Web.Razor.xml
ProvaSiteware/packages/Microsoft.AspNet.Razor.2.0.20710.0/Microsoft.AspNet.Razor.2.0.20710.0.nupkg
ProvaSiteware/packages/Microsoft.AspNet.Web.Optimization.1.0.0/lib/net40/System.Web.Optimization.dll
ProvaSiteware/packages/Microsoft.AspNet.Web.Optimization.1.0.0/Microsoft.AspNet.Web.Optimization.1.0.0.nupkg
ProvaSiteware/packages/Microsoft.AspNet.WebApi.4.0.20710.0/Microsoft.AspNet.WebApi.4.0.20710.0.nupkg
ProvaSiteware/packages/Microsoft.AspNet.WebApi.Client.4.0.20710.0/lib/net40/System.Net.Http.Formatting.dll
ProvaSiteware/packages/Microsoft.AspNet.WebApi.Client.4.0.20710.0/lib/net40/System.Net.Http.Formatting.xml
ProvaSiteware/packages/Microsoft.AspNet.WebApi.Client.4.0.20710.0/Microsoft.AspNet.WebApi.Client.4.0.20710.0.nupkg
ProvaSiteware/packages/Microsoft.AspNet.WebApi.Core.4.0.20710.0/content/web.config.transform
ProvaSiteware/packages/Microsoft.AspNet.WebApi.Core.4.0.20710.0/lib/net40/System.Web.Http.dll
ProvaSiteware/packages/Microsoft.AspNet.WebApi.Core.4.0.20710.0/lib/net40/System.Web.Http.xml
ProvaSiteware/packages/Microsoft.AspNet.WebApi.Core.4.0.20710.0/Microsoft.AspNet.WebApi.Core.4.0.20710.0.nupkg
ProvaSiteware/packages/Microsoft.AspNet.WebApi.WebHost.4.0.20710.0/lib/net40/System.Web.Http.WebHost.dll
ProvaSiteware/packages/Microsoft.AspNet.WebApi.WebHost.4.0.20710.0/lib/net40/System.Web.Http.WebHost.xml
ProvaSiteware/packages/Microsoft.AspNet.WebApi.WebHost.4.0.20710.0/Microsoft.AspNet.WebApi.WebHost.4.0.20710.0.nupkg
ProvaSiteware/packages/Microsoft.AspNet.WebPages.2.0.20710.0/lib/net40/System.Web.Helpers.dll
ProvaSiteware/packages/Microsoft.AspNet.WebPages.2.0.20710.0/lib/net40/System.Web.Helpers.xml
ProvaSiteware/packages/Microsoft.AspNet.WebPages.2.0.20710.0/lib/net40/System.Web.WebPages.Deployment.dll
ProvaSiteware/packages/Microsoft.AspNet.WebPages.2.0.20710.0/lib/net40/System.Web.WebPages.Deployment.xml
ProvaSiteware/packages/Microsoft.AspNet.WebPages.2.0.20710.0/lib/net40/System.Web.WebPages.dll
ProvaSiteware/packages/Microsoft.AspNet.WebPages.2.0.20710.0/lib/net40/System.Web.WebPages.Razor.dll
ProvaSiteware/packages/Microsoft.AspNet.WebPages.2.0.20710.0/lib/net40/System.Web.WebPages.Razor.xml
ProvaSiteware/packages/Microsoft.AspNet.WebPages.2.0.20710.0/lib/net40/System.Web.WebPages.xml
ProvaSiteware/packages/Microsoft.AspNet.WebPages.2.0.20710.0/Microsoft.AspNet.WebPages.2.0.20710.0.nupkg
ProvaSiteware/packages/Microsoft.jQuery.Unobtrusive.Ajax.2.0.20710.0/Content/Scripts/jquery.unobtrusive-ajax.js
ProvaSiteware/packages/Microsoft.jQuery.Unobtrusive.Ajax.2.0.20710.0/Content/Scripts/jquery.unobtrusive-ajax.min.js
ProvaSiteware/packages/Microsoft.jQuery.Unobtrusive.Ajax.2.0.20710.0/Microsoft.jQuery.Unobtrusive.Ajax.2.0.20710.0.nupkg
ProvaSiteware/packages/Microsoft.jQuery.Unobtrusive.Validation.2.0.20710.0/Content/Scripts/jquery.validate.unobtrusive.js
ProvaSiteware/packages/Microsoft.jQuery.Unobtrusive.Validation.2.0.20710.0/Content/Scripts/jquery.validate.unobtrusive.min.js
ProvaSiteware/packages/Microsoft.jQuery.Unobtrusive.Validation.2.0.20710.0/Microsoft.jQuery.Unobtrusive.Validation.2.0.20710.0.nupkg
ProvaSiteware/packages/Microsoft.Net.Http.2.0.20710.0/lib/net40/System.Net.Http.dll
ProvaSiteware/packages/Microsoft.Net.Http.2.0.20710.0/lib/net40/System.Net.Http.WebRequest.dll
ProvaSiteware/packages/Microsoft.Net.Http.2.0.20710.0/lib/net40/System.Net.Http.WebRequest.xml
ProvaSiteware/packages/Microsoft.Net.Http.2.0.20710.0/lib/net40/System.Net.Http.xml
ProvaSiteware/packages/Microsoft.Net.Http.2.0.20710.0/lib/net45/_._
ProvaSiteware/packages/Microsoft.Net.Http.2.0.20710.0/Microsoft.Net.Http.2.0.20710.0.nupkg
ProvaSiteware/packages/Microsoft.Web.Infrastructure.1.0.0.0/lib/net40/Microsoft.Web.Infrastructure.dll
ProvaSiteware/packages/Microsoft.Web.Infrastructure.1.0.0.0/Microsoft.Web.Infrastructure.1.0.0.0.nupkg
ProvaSiteware/packages/Modernizr.2.5.3/Content/Scripts/modernizr-2.5.3.js
ProvaSiteware/packages/Modernizr.2.5.3/Modernizr.2.5.3.nupkg
ProvaSiteware/packages/Newtonsoft.Json.4.5.6/lib/net40/Newtonsoft.Json.dll
ProvaSiteware/packages/Newtonsoft.Json.4.5.6/lib/net40/Newtonsoft.Json.xml
ProvaSiteware/packages/Newtonsoft.Json.4.5.6/Newtonsoft.Json.4.5.6.nupkg
ProvaSiteware/packages/repositories.config
ProvaSiteware/packages/WebGrease.1.1.0/lib/Antlr3.Runtime.dll
ProvaSiteware/packages/WebGrease.1.1.0/lib/WebGrease.dll
ProvaSiteware/packages/WebGrease.1.1.0/tools/WG.exe
ProvaSiteware/packages/WebGrease.1.1.0/WebGrease.1.1.0.nupkg
ProvaSiteware/ProvaSiteware.Application/bin/Debug/ProvaSiteware.Application.dll
ProvaSiteware/ProvaSiteware.Application/bin/Debug/ProvaSiteware.Application.pdb
ProvaSiteware/ProvaSiteware.Application/obj/Debug/DesignTimeResolveAssemblyReferencesInput.cache
ProvaSiteware/ProvaSiteware.Application/obj/Debug/ProvaSiteware.Application.csproj.FileListAbsolute.txt
ProvaSiteware/ProvaSiteware.Application/obj/Debug/ProvaSiteware.Application.csprojResolveAssemblyReference.cache
ProvaSiteware/ProvaSiteware.Application/obj/Debug/ProvaSiteware.Application.dll
ProvaSiteware/ProvaSiteware.Application/obj/Debug/ProvaSiteware.Application.pdb
ProvaSiteware/ProvaSiteware.Application/obj/Debug/TemporaryGeneratedFile_036C0B5B-1481-4323-8D20-8F5ADCB23D92.cs
ProvaSiteware/ProvaSiteware.Application/obj/Debug/TemporaryGeneratedFile_5937a670-0e60-4077-877b-f7221da3dda1.cs
ProvaSiteware/ProvaSiteware.Application/obj/Debug/TemporaryGeneratedFile_E7A71F73-0F8D-4B9B-B56E-8E70B10BC5D3.cs
ProvaSiteware/ProvaSiteware.Infra.Data/bin/Debug/EntityFramework.dll
ProvaSiteware/ProvaSiteware.Infra.Data/bin/Debug/EntityFramework.SqlServer.dll
ProvaSiteware/ProvaSiteware.Infra.Data/bin/Debug/EntityFramework.SqlServer.xml
ProvaSiteware/ProvaSiteware.Infra.Data/bin/Debug/EntityFramework.xml
ProvaSiteware/ProvaSiteware.Infra.Data/bin/Debug/ProvaSiteware.Domain.dll
ProvaSiteware/ProvaSiteware.Infra.Data/bin/Debug/ProvaSiteware.Domain.pdb
ProvaSiteware/ProvaSiteware.Infra.Data/bin/Debug/ProvaSiteware.Infra.Data.dll
ProvaSiteware/ProvaSiteware.Infra.Data/bin/Debug/ProvaSiteware.Infra.Data.dll.config
ProvaSiteware/ProvaSiteware.Infra.Data/bin/Debug/ProvaSiteware.Infra.Data.pdb
ProvaSiteware/ProvaSiteware.Infra.Data/obj/Debug/DesignTimeResolveAssemblyReferencesInput.cache
ProvaSiteware/ProvaSiteware.Infra.Data/obj/Debug/ProvaSiteware.Infra.Data.csproj.FileListAbsolute.txt
ProvaSiteware/ProvaSiteware.Infra.Data/obj/Debug/ProvaSiteware.Infra.Data.csprojResolveAssemblyReference.cache
ProvaSiteware/ProvaSiteware.Infra.Data/obj/Debug/ProvaSiteware.Infra.Data.dll
ProvaSiteware/ProvaSiteware.Infra.Data/obj/Debug/ProvaSiteware.Infra.Data.pdb
ProvaSiteware/ProvaSiteware.Infra.Data/obj/Debug/TemporaryGeneratedFile_036C0B5B-1481-4323-8D20-8F5ADCB23D92.cs
ProvaSiteware/ProvaSiteware.Infra.Data/obj/Debug/TemporaryGeneratedFile_5937a670-0e60-4077-877b-f7221da3dda1.cs
ProvaSiteware/ProvaSiteware.Infra.Data/obj/Debug/TemporaryGeneratedFile_E7A71F73-0F8D-4B9B-B56E-8E70B10BC5D3.cs
ProvaSiteware/ProvaSiteware.Infra.Data.EntityFramework/obj/Debug/DesignTimeResolveAssemblyReferencesInput.cache
ProvaSiteware/ProvaSiteware.Infra.Data.EntityFramework/obj/Debug/TemporaryGeneratedFile_036C0B5B-1481-4323-8D20-8F5ADCB23D92.cs
ProvaSiteware/ProvaSiteware.Infra.Data.EntityFramework/obj/Debug/TemporaryGeneratedFile_5937a670-0e60-4077-877b-f7221da3dda1.cs
ProvaSiteware/ProvaSiteware.Infra.Data.EntityFramework/obj/Debug/TemporaryGeneratedFile_E7A71F73-0F8D-4B9B-B56E-8E70B10BC5D3.cs
ProvaSiteware/ProvaSiteware.MVC/bin/Antlr3.Runtime.dll
ProvaSiteware/ProvaSiteware.MVC/bin/EntityFramework.dll
ProvaSiteware/ProvaSiteware.MVC/bin/EntityFramework.xml
ProvaSiteware/ProvaSiteware.MVC/bin/Microsoft.Web.Infrastructure.dll
ProvaSiteware/ProvaSiteware.MVC/bin/Newtonsoft.Json.dll
ProvaSiteware/ProvaSiteware.MVC/bin/Newtonsoft.Json.xml
ProvaSiteware/ProvaSiteware.MVC/bin/ProvaSiteware.Domain.dll
ProvaSiteware/ProvaSiteware.MVC/bin/ProvaSiteware.Domain.pdb
ProvaSiteware/ProvaSiteware.MVC/bin/ProvaSiteware.MVC.dll
ProvaSiteware/ProvaSiteware.MVC/bin/ProvaSiteware.MVC.pdb
ProvaSiteware/ProvaSiteware.MVC/bin/System.Net.Http.Formatting.dll
ProvaSiteware/ProvaSiteware.MVC/bin/System.Net.Http.Formatting.xml
ProvaSiteware/ProvaSiteware.MVC/bin/System.Web.Http.dll
ProvaSiteware/ProvaSiteware.MVC/bin/System.Web.Http.WebHost.dll
ProvaSiteware/ProvaSiteware.MVC/bin/System.Web.Http.WebHost.xml
ProvaSiteware/ProvaSiteware.MVC/bin/System.Web.Http.xml
ProvaSiteware/ProvaSiteware.MVC/bin/System.Web.Mvc.dll
ProvaSiteware/ProvaSiteware.MVC/bin/System.Web.Mvc.xml
ProvaSiteware/ProvaSiteware.MVC/bin/System.Web.Optimization.dll
ProvaSiteware/ProvaSiteware.MVC/bin/System.Web.Providers.dll
ProvaSiteware/ProvaSiteware.MVC/bin/System.Web.Razor.dll
ProvaSiteware/ProvaSiteware.MVC/bin/System.Web.Razor.xml
ProvaSiteware/ProvaSiteware.MVC/bin/System.Web.WebPages.Deployment.dll
ProvaSiteware/ProvaSiteware.MVC/bin/System.Web.WebPages.Deployment.xml
ProvaSiteware/ProvaSiteware.MVC/bin/System.Web.WebPages.dll
ProvaSiteware/ProvaSiteware.MVC/bin/System.Web.WebPages.Razor.dll
ProvaSiteware/ProvaSiteware.MVC/bin/System.Web.WebPages.Razor.xml
ProvaSiteware/ProvaSiteware.MVC/bin/System.Web.WebPages.xml
ProvaSiteware/ProvaSiteware.MVC/bin/WebGrease.dll
ProvaSiteware/ProvaSiteware.MVC/obj/Debug/DesignTimeResolveAssemblyReferencesInput.cache
ProvaSiteware/ProvaSiteware.MVC/obj/Debug/ProvaSiteware.MVC.csproj.FileListAbsolute.txt
ProvaSiteware/ProvaSiteware.MVC/obj/Debug/ProvaSiteware.MVC.csprojResolveAssemblyReference.cache
ProvaSiteware/ProvaSiteware.MVC/obj/Debug/ProvaSiteware.MVC.dll
ProvaSiteware/ProvaSiteware.MVC/obj/Debug/ProvaSiteware.MVC.pdb
ProvaSiteware/ProvaSiteware.MVC/obj/Debug/TemporaryGeneratedFile_036C0B5B-1481-4323-8D20-8F5ADCB23D92.cs
ProvaSiteware/ProvaSiteware.MVC/obj/Debug/TemporaryGeneratedFile_5937a670-0e60-4077-877b-f7221da3dda1.cs
ProvaSiteware/ProvaSiteware.MVC/obj/Debug/TemporaryGeneratedFile_E7A71F73-0F8D-4B9B-B56E-8E70B10BC5D3.cs
