/Lab/packages
/Lab/.vs
/Lab/Lab.Infra.Data.EF/bin
/Lab/Lab.Infra.Data.EF/obj
/Lab/Lab.Infra.Data.NH/bin
/Lab/Lab.Infra.Data.NH/obj
/Lab/Lab.Infra.CrossCutting.IoC/bin
/Lab/Lab.Infra.CrossCutting.IoC/obj
/Lab/Lab.Application/bin
/Lab/Lab.Application/obj
/Lab/Lab.Domain/bin
/Lab/Lab.Domain/obj
/Lab/Lab.Presentation.MVC/bin
/Lab/Lab.Presentation.MVC/obj
/Lab/Lab.Domain.Test/bin
/Lab/Lab.Domain.Test/obj
/Lab/TestResults
/Lab/Lab.Presentation.Web/bin
/Lab/Lab.Presentation.Web/obj