body {
    padding-top: 50px;
}

.table td {
    vertical-align: middle !important;
}

/* Styles for validation helpers
-----------------------------------------------------------*/
.field-validation-error {
    color: #f00;
}

.field-validation-valid {
    display: none;
}

.input-validation-error {
    border: 1px solid #f00;
    background-color: #fee;
}

.validation-summary-errors {
    font-weight: bold;
    color: #f00;
}

.validation-summary-valid {
    display: none;
}

.nav > li > div.culture {
    position: relative;
    display: block;
    padding: 15px;
    color: #9d9d9d;
}

.nav > li > div.culture > a {
    color: #9d9d9d;
}

.nav > li > div.culture > a:hover,
.nav > li > div.culture > a:focus {
  text-decoration: none;
  color: #eee;
}